@tailwind base;
@tailwind components;
@tailwind utilities;

.text-left {
    text-align: left;
}

.customItem {
    width: 20rem;
}

.customValue {
    width: 20rem;
}

.removeCustomItem {
    margin-left: 10px;
    margin-top: 28px;
}